{% extends 'base.html' %}

{% block content %}
<br>
<a href="{% url 'enroll_app:subject_create' %}">Create subject</a>
<h2>Subject List</h2>
<table id="list">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Details</th>
      <th>Students</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for subject in subjects %}
    <tr>
      <td>{{ subject.name }}</td>
      <td><a href="{% url 'enroll_app:subject_detail' subject.pk %}">Details</a></td>
      <td><a href="{% url 'enroll_app:subject_enrollment' subject.pk %}">List</a></td>
      <td><a href="{% url 'enroll_app:subject_update' subject.pk %}">Edit</a></td>
      <td><a href="{% url 'enroll_app:subject_delete' subject.pk %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No subjects available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
